@import "@/assets/style/base.scss";

%clearFix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
}
body .el-button {
  font-size:13px;
  color:#006600;
  height:40px;
  line-height: 40px;
  padding:0 12px;
  border-radius: 4px;
  font-weight:normal;
  border:none;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol{
  list-style: none;
}

input{
  line-height:40px;
  border:1px solid #eaeaea;
  padding:0 10px;
  border-radius:4px;
  outline: none;
  &:focus{
  border-color: $themeLighterColor;
  }
}



h1,h2,h3,h4,h5,h6{
  font-weight:400;
}

